
<%- include('header'); -%> 
<style>
             
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    overflow-x: hidden;
    color:rgba(0,0,0,0.8);
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    margin:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('back_images/rk1 (8).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top-center;
    /*background-attachment: fixed;*/
    height: 72.5rem;
    width: 100%;
    margin-bottom: 3rem;
    
  }
  .container{
    background: rgba(0,0,0,.4);
    color: rgba(255,255,255,.8);
    padding: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  form a{
    color: coral;
  }
  .hmm{
    padding-top: 5rem;
    margin-top: 5rem;
  }
  .container img{
    width: 12rem;
  }
  form input[type="submit"]{
    align-items: center;
    align-content: center;
    text-align: center;
    padding: .7rem 17.2rem;
    border-style: none
  }
  
  </style>        
<body>   
<div class="container hmm" style="width:500px;">

<div align="center"><img src="images1/logo-white.png"></div>
<h3 align="center">Register</h3>  
<br />  
<!-- <form method="post" action="/register" onsubmit="return validateForm()" enctype="multipart/form-data" >   -->
     <label>Enter Username</label>  
     <input type="text" name="username" id="name"  class="form-control" placeholder="Enter Username" required />  
     <br />  
     <label>Enter Password</label>  
     <input type="password" name="password" id="pass" class="form-control"  placeholder="Enter Password" required/>  
     <br /> 
     <label>Confirm Password</label>  
     <input type="password" name="confirmpassword" id="confPass" class="form-control"  placeholder="Confirm Password" required/>  
     <br /> 
     <label>Enter Email</label>  
     <input type="email" name="email" id="email" class="form-control"  placeholder="Enter email " required/>  
     <br /> 
     <p align="center">By registering, you agree to our <a href="#">User Agreement</a> & <a href="#">privacy policy</a></p> 
     <div class="sub">
     <!-- <input type="submit" onclick="validateForm()"  value="Register" class="btn btn-danger" /> -->
     <center><button class = "btn btn-danger" onclick="validateForm()">Register</button></center>
     <!-- <input type="button"  value="Register" class="btn btn-danger" />  -->
    </div>  
     <br />  
     <p align="center">Already registered ? <a href="/login">Log In now</a>.</p>  
<!-- </form>  -->
</div>
</body>  

<script>
  function validateForm(){
    var username = $('#name').val().trim();
    var pass = $('#pass').val().trim();
    var confPass = $('#confPass').val().trim();
    var email = $('#email').val();
    if(username == "") {
      alert('Enter valid Name')
      return false;
    }else if(pass == ""){
      alert('Please Enter Non-Emapy Password');
    }
    else if(pass != confPass){
      alert('Enter the same password');
    }
    else{
      $.ajax({
        url:'/api/register',
        data:{
          username:username,
          password:pass,
          email:email
        },
        type:"POST",
        success:(code)=>{
          if(code == "success"){
            window.location.href = "/";
          }else if(code == "userExt"){
            alert('UserName in Use');
          }else if(code == "emailExt"){
            alert('Email In Use');
          }
        }
      })
    }
  }
</script>

<%- include('footer') %>
